* {
    box-sizing: border-box;
}


#snakeGRID {
    height: 60vh;
    width: 60vh;
    background-color: lightblue;
    display: flex;
    flex-wrap: wrap;

    .square {
        height: 3vh;
        width: 3vh;
        border: 1px solid black;
    }
    .tete {
        background-color: white;
    }
    .corp {
        background-color: white;
    }
    .loot {
        background-color: gold;
    }
}

#snakeGODIV {
    visibility: hidden;
    position: absolute;
    top: 15vh;
    left: 10vh;
    width: 40vh;
    height: 30vh;
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    p{
        font-size: 3.5vh;
        margin-top: 0px;
    }
    button{
        font-size: 3.5vh;
    }
}